body {
  text-align: center;
  font-family: 'Noto Nastaliq Urdu', serif
}

.person-list {
  list-style-type: none;
}

.person-list li {
  margin-bottom: 1rem
}

.person {

  border-radius: 1rem;
  border: 1px dashed #ccc;
  display: inline-block;
  padding: 1rem;
}

.person__name {
  margin-bottom: 0
}
